<p>show-tech works!</p>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header h2">Java</div>
                <div class="card-block">
                    <div class="card-title h3">Title</div>
                    <div class="card-text"><p> Java is a general-purpose programming language that is class-based, 
                        object-oriented, and designed to have as few implementation dependencies as possible.</p>
                        <a href="" class="btn btn-primary">Click</a>
                    </div>
                </div>
                <div class="card-footer text-muted">Click to order this course</div>
            </div>

        </div>
        <div class="col">
            <div class="card">
                <div class="card-header h2">Angular</div>
                <div class="card-block">
                    <div class="card-title h3">Title</div>
                    <div class="card-text"><p> Angular (commonly referred to as "Angular 2+" or "Angular v2 and above")[3][4] is a TypeScript-based open-source web application framework
                         led by the Angular Team at Google and by a community of individuals and corporations. </p>
                        <a href="" class="btn btn-primary">Click</a>
                    </div>
                </div>
                <div class="card-footer text-muted">Click to order this course</div>
            </div>

        </div>

        <div class="col">
            <div class="card">
                <div class="card-header h2">BigData</div>
                <div class="card-block">
                    <div class="card-title h3">Title</div>
                    <div class="card-text"><p>Big data is a field that treats ways to analyze, systematically extract information from, or otherwise deal with data sets that are too large
                         or complex to be dealt with by traditional data-processing application software. </p>
                        <a href="" class="btn btn-primary">Click</a>
                    </div>
                </div>
                <div class="card-footer text-muted">Click to order this course</div>
            </div>

        </div>

        <div class="col">
            <div class="card">
                <div class="card-header h2">DevOps</div>
                <div class="card-block">
                    <div class="card-title h3">Title</div>
                    <div class="card-text"><p>DevOps is a set of practices that combines software development (Dev) and IT operations (Ops).  </p>
                        <a href="" class="btn btn-primary">Click</a>
                    </div>
                </div>
                <div class="card-footer text-muted">Click to order this course</div>
            </div>

        </div>
    </div>
</div>

